@font-face {
  font-family: aviny;
  src: url(fonts/aviny.ttf);
}
@font-face {
  font-family: iranyekanwebblackfanum;
  src: url(fonts/Vazirmatn-Medium.woff2);
}

body {
  background-color: #1e88e5;
  margin: 0 auto;
  direction: rtl;
}

#container {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 600px;
}

#bg {
  margin: 0 10px;
  background-color: #fff;
  padding: 1% 2%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
  font-family: aviny;
  color: #000;
  font-size: 24px;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 24px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #039be5;
  color: white;
  padding: 14px 20px;
  margin: 16px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* On cache l'input 😢 */
input[type=file] {
    display: none;
  }
  
  /* On créé un bouton en ciblant un élément dans la balise label */
  label span {
    padding: 8px 12px;
    background: #039be5;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
  }
  
  label span:hover {
    background: #0288d1;
  }

input[type="submit"]:hover {
  background-color: #0288d1;
}

label {
  font-family: iranyekanwebblackfanum;
  font-size: 12px;
}

input {
  font-family: iranyekanwebblackfanum;
  font-size: 12px;
}
